.shape {
  width: 10rem;
  height: 10rem;
}

.redElement {
  background-color: red;
  color: white;
}

.centralizedItem {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
}

.imgSquare {
  width: 10rem;
  height: auto;
}
